<html>
  <head>
    <title>Home</title>
  </head>

  <body>
    <h1><%= username %> Messages</h1>

    <% messages.forEach((message) => { %>
    <p><%= message.text %></p>
    <p><%= message.added %></p>
    <% }) %>
  </body>
</html>
